In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
import time
import pickle
import napari
import numpy as np
import pandas as pd

from skimage.io import imread

import btrack
from btrack.constants import BayesianUpdates

sys.path.append('../libraries')
import input_functions as inp_f

In [2]:
info_file_path = r'Z:\Sonja\210910_endo_meso_52\210910_endo_meso_52_info.txt'

In [3]:
# read the file
info_file = open(info_file_path, 'r')
info_lines = info_file.readlines()
info_file.close()

# read info about the data frame
exp_dir,df_name = inp_f.read_df_info(info_lines)

df_dir = os.path.join(exp_dir,'df')
save_dir = df_dir

frames_to_exclude = inp_f.read_frames_2_exclude(info_lines)
frames_to_exclude = eval(frames_to_exclude)

modelPath = os.path.join(exp_dir,'code','libraries','cell_config.json')

## Read in the data frame objects data

In [4]:
data_df = pd.read_pickle(os.path.join(df_dir,df_name))

In [5]:
data_df.head()

,label,area,centroid-0,centroid-1,orientation,major_axis_length,minor_axis_length,bbox-0,bbox-1,bbox-2,...,size_y,track_id,x,y,parent,generation,root,accepted,rejected,promise
0,7,1338,37.109118,1727.743647,-0.369780,54.154746,32.189471,8,1708,62,...,2048,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
1,8,1373,40.700655,604.683176,-1.136684,48.529689,36.937616,22,579,63,...,2048,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
2,9,1246,42.348315,389.571429,0.927465,53.063363,30.931133,24,364,64,...,2048,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
3,10,1119,47.858803,847.581769,1.024182,53.249772,27.858318,30,826,67,...,2048,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False
4,11,1532,49.441906,1182.359661,-0.666132,57.934427,34.102222,23,1159,74,...,2048,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False

In [6]:
len(data_df)

223543

In [8]:
data_df.columns

Index(['label', 'area', 'centroid-0', 'centroid-1', 'orientation',
       'major_axis_length', 'minor_axis_length', 'bbox-0', 'bbox-1', 'bbox-2',
       'bbox-3', 'image', 'mean_intensity-0_nuc', 'mean_intensity-1_nuc',
       'file', 't', 'centroid-0_ring', 'centroid-1_ring',
       'mean_intensity-0_ring', 'mean_intensity-1_ring', 'size_x', 'size_y',
       'track_id', 'x', 'y', 'parent', 'generation', 'root', 'accepted',
       'rejected', 'promise'],
      dtype='object')

In [24]:
# create a structure suitable for tracking

# choose objects 
sel_vector = [not(x in frames_to_exclude) for x in data_df.t]

objects_gen = data_df.loc[sel_vector,['label','area','centroid-1','centroid-0','major_axis_length','minor_axis_length','t']]

objects_gen.columns=['ID', 'area', 'x', 'y', 'major_axis_length','minor_axis_length','t']
objects_gen['z']=0
objects_gen['label']=5
objects_gen['prob']=0
objects_gen['dummy']=False
objects_gen['states']=0

objects_gen.head()

,ID,area,x,y,major_axis_length,minor_axis_length,t,z,label,prob,dummy,states
0,1,468,242.927350,116.311966,31.789823,19.717788,0,0,5,0,False,0
1,2,884,653.042986,129.785068,34.679214,32.570490,0,0,5,0,False,0
2,3,456,2286.605263,150.692982,27.568883,21.199744,0,0,5,0,False,0
3,4,220,110.900000,199.009091,20.282340,14.171414,0,0,5,0,False,0
4,5,436,50.940367,246.500000,26.015226,21.884491,0,0,5,0,False,0

In [25]:
len(objects_gen)

131375

## Tracking proper

In [26]:
# initialise a tracker session using a context manager
with btrack.BayesianTracker() as tracker:

    # configure the tracker using a config file
    tracker.configure_from_file(modelPath)
    
    # approximate
    tracker.update_method = BayesianUpdates.APPROXIMATE
    tracker.max_search_radius = 100

    # append the objects to be tracked
    tracker.append(objects_gen)

    # set the volume (Z axis volume is set very large for 2D data)
    tracker.volume=((0, data_df.size_x[0]), (0, data_df.size_y[0]), (-1e5, 1e5))

    # track them (in interactive mode)
    tracker.track_interactive(step_size=100)

    # generate hypotheses and run the global optimizer
    tracker.optimize()

    # optional: get the data in a format for napari
    data, properties, graph = tracker.to_napari(ndim=2)
    # pickle Napari data
    with open(os.path.join(df_dir,'track.pkl'),'wb') as f:
        pickle.dump([data,properties,graph],f)

[INFO][2021/11/24 11:42:22 AM] Loaded btrack: C:\Users\kmkedz\AppData\Roaming\Python\Python37\site-packages\btrack\libs\libtracker.DLL
[INFO][2021/11/24 11:42:22 AM] btrack (v0.4.2) library imported
[INFO][2021/11/24 11:42:22 AM] Setting max XYZ search radius to: 100
[INFO][2021/11/24 11:42:22 AM] Starting BayesianTracker session
[INFO][2021/11/24 11:42:22 AM] Loading configuration file: Z:\Wayne\20210928_timelapse_arrest\210928_fov_03\code\libraries\cell_config.json
[INFO][2021/11/24 11:42:22 AM] Loading motion model: b'cell_motion'
[INFO][2021/11/24 11:42:22 AM] Setting Bayesian update method to: BayesianUpdates.APPROXIMATE
[INFO][2021/11/24 11:42:22 AM] Setting max XYZ search radius to: 100
[INFO][2021/11/24 11:42:22 AM] Objects are of type: <class 'pandas.core.frame.DataFrame'>
[INFO][2021/11/24 11:42:25 AM] Set volume to ((0, 2765), (0, 2765), (-100000.0, 100000.0))
[INFO][2021/11/24 11:42:25 AM] Starting tracking...
[INFO][2021/11/24 11:42:25 AM] Tracking objects in frames 0 to 99 (of 287)...
[INFO][2021/11/24 11:42:25 AM]  - Timing (Bayesian updates: 3.00ms, Linking: 4.00ms)
[INFO][2021/11/24 11:42:25 AM]  - Probabilities (Link: 1.00000, Lost: 1.00000)
[INFO][2021/11/24 11:42:25 AM]  - Stats (Active: 435, Lost: 7618, Conflicts resolved: 989)
[INFO][2021/11/24 11:42:25 AM] Tracking objects in frames 100 to 199 (of 287)...
[INFO][2021/11/24 11:42:27 AM]  - Timing (Bayesian updates: 10.00ms, Linking: 6.00ms)
[INFO][2021/11/24 11:42:27 AM]  - Probabilities (Link: 1.00000, Lost: 0.70469)
[INFO][2021/11/24 11:42:27 AM]  - Stats (Active: 758, Lost: 17873, Conflicts resolved: 3571)
[INFO][2021/11/24 11:42:27 AM] Tracking objects in frames 200 to 287 (of 287)...
[INFO][2021/11/24 11:42:28 AM]  - Timing (Bayesian updates: 11.00ms, Linking: 6.00ms)
[INFO][2021/11/24 11:42:28 AM]  - Probabilities (Link: 0.99991, Lost: 1.00000)
[INFO][2021/11/24 11:42:28 AM] SUCCESS.
[INFO][2021/11/24 11:42:28 AM]  - Found 6524 tracks in 287 frames (in 0.0s)
[INFO][2021/11/24 11:42:28 AM]  - Inserted 5170 dummy objects to fill tracking gaps
[INFO][2021/11/24 11:42:28 AM] Loading hypothesis model: cell_hypothesis
[INFO][2021/11/24 11:42:28 AM] Calculating hypotheses (relax: True)...
[INFO][2021/11/24 11:42:29 AM] Setting up constraints matrix for global optimisation...
[INFO][2021/11/24 11:42:29 AM] Optimizing...
[INFO][2021/11/24 11:42:31 AM] Optimization complete. (Solution: optimal)
[INFO][2021/11/24 11:42:31 AM]  - Fates.FALSE_POSITIVE: 2401 (of 6524)
[INFO][2021/11/24 11:42:31 AM]  - Fates.LINK: 1779 (of 2473)
[INFO][2021/11/24 11:42:31 AM]  - Fates.DIVIDE: 89 (of 269)
[INFO][2021/11/24 11:42:31 AM]  - Fates.INITIALIZE_BORDER: 336 (of 498)
[INFO][2021/11/24 11:42:31 AM]  - Fates.INITIALIZE_FRONT: 126 (of 198)
[INFO][2021/11/24 11:42:31 AM]  - Fates.INITIALIZE_LAZY: 1704 (of 5828)
[INFO][2021/11/24 11:42:31 AM]  - Fates.TERMINATE_BORDER: 276 (of 433)
[INFO][2021/11/24 11:42:31 AM]  - Fates.TERMINATE_BACK: 689 (of 831)
[INFO][2021/11/24 11:42:31 AM]  - Fates.TERMINATE_LAZY: 1290 (of 5260)
[INFO][2021/11/24 11:42:31 AM]  - TOTAL: 22314 hypotheses
[INFO][2021/11/24 11:42:31 AM] Completed optimization with 4745 tracks
[INFO][2021/11/24 11:42:33 AM] Ending BayesianTracker session

## Merging objects and tracking information

In [27]:
trackDataAll = pd.DataFrame(data,columns=['track_id','t','x','y'])
trackDataAll['parent'] = properties['parent']
trackDataAll['generation'] = properties['generation']
trackDataAll['root'] = properties['root']

In [28]:
len(trackDataAll)

136544

In [29]:
trackDataAll

        track_id      t            x            y  parent  generation  root
0            1.0    0.0  1840.193878  2217.806122       1           0     1
1            1.0    1.0  1849.055556  2211.253086       1           0     1
2            1.0    2.0  1864.229412  2201.476471       1           0     1
3            2.0    0.0  1681.365854  1790.182927       2           0     2
4            2.0    1.0  1681.313953  1786.500000       2           0     2
...          ...    ...          ...          ...     ...         ...   ...
136539    6520.0  286.0  1322.763158   371.868421    6520           0  6520
136540    6521.0  286.0   888.220000  2453.300000    6521           0  6521
136541    6522.0  286.0  1031.000000  2156.863636    6522           0  6522
136542    6523.0  286.0  1041.694030   636.171642    6523           0  6523
136543    6524.0  286.0   898.625786  1611.625786    6524           0  6524

[136544 rows x 7 columns]

In [30]:
allData = pd.merge(left=data_df,right=trackDataAll,left_on=['centroid-0','centroid-1','t'],right_on=['x','y','t'],how='left')

In [31]:
print(f'Number of all objects: {len(allData)}')

Number of all objects: 131375

In [32]:
# check how many objects doesn't have a track_id
test = np.sum(allData.track_id!=allData.track_id)
print(f'Number of objects without track_id: {test}')

Number of objects without track_id: 1

## Be careful!!!

In [33]:
# consider removing
allData = allData.loc[allData.track_id==allData.track_id,:]
print(f'Number of all objects: {len(allData)}')

Number of all objects: 131374

## Define promising tracks

This part is manual at the moment.

In [34]:
my_tracks = set(allData.track_id)
print(len(my_tracks))

4745

In [35]:
allData['accepted'] = False
allData['rejected'] = False
allData['promise'] = False

# mark tracks longer than 100 as promising
tracks_set = set(allData.track_id)

track_len=[]
promise_list = []
for track in tracks_set:
    
    # prepare signals for this track
    sel_signal = allData.loc[allData.track_id == track,['t','mean_intensity-0_nuc','mean_intensity-0_ring']]
    sel_signal.sort_values(by='t',inplace=True)
    sel_mean = sel_signal.rolling(9,min_periods = 9,center=True).mean()
    
    # test - length
    track_test = len(sel_signal)>50
    
    track_len.append(len(sel_signal))
    
    # test - DHB presence
    dhb_test = np.sum(sel_mean['mean_intensity-0_nuc'] > (sel_mean['mean_intensity-0_ring']+100)) > 10
    
    if (track_test and dhb_test):
        
        promise_list.append(track)
        
        allData.loc[allData.track_id==track,'promise'] = True

In [36]:
len(promise_list)

199

## Create columns for requested annotations

In [37]:
# get info about the tags (for annotating points on the tracks)
flag_list = inp_f.read_flags(info_lines,df=allData)

for flag in flag_list:
    
    allData[flag['flag_column']]=False

In [38]:
# save df
allData.to_pickle(os.path.join(df_dir,df_name))
allData.to_csv(os.path.join(df_dir,df_name.replace('pkl','csv')),index=False)