In [1]:
%load_ext autoreload
%autoreload 2

import os
import sys
import time
import pickle
import napari
import numpy as np
import pandas as pd

from skimage.io import imread

import btrack
from btrack.constants import BayesianUpdates

sys.path.append('../libraries')
import input_functions as inp_f

ModuleNotFoundError: No module named 'btrack'

In [ ]:
info_file_path = r'D:\BARC\BARC_Wanjuan\210603_B3_5\210603_halo_B3_5_info.txt'

In [10]:
# read the file
info_file = open(info_file_path, 'r')
info_lines = info_file.readlines()
info_file.close()

# read info about the data frame
exp_dir,df_name = inp_f.read_df_info(info_lines)

df_dir = os.path.join(exp_dir,'df')
save_dir = df_dir

frames_to_exclude = inp_f.read_frames_2_exclude(info_lines)
frames_to_exclude = eval(frames_to_exclude)

modelPath = os.path.join(exp_dir,'code','libraries','cell_config.json')

NameError: name 'inp_f' is not defined

## Read in the data frame objects data

In [4]:
data_df = pd.read_pickle(os.path.join(df_dir,df_name))

In [5]:
data_df.head()

,label,area,centroid-0,centroid-1,orientation,major_axis_length,minor_axis_length,bbox-0,bbox-1,bbox-2,...,size_y,track_id,x,y,parent,generation,root,accepted,rejected,promise
0,263,326,1384.401840,1637.932515,-0.324591,20.840117,20.004660,1375,1628,1395,...,2048.0,1.0,1384.401840,1637.932515,1.0,0.0,1.0,False,False,False
1,274,2945,1404.486248,1798.135823,0.984212,69.670152,54.802865,1375,1762,1436,...,2048.0,2.0,1404.486248,1798.135823,2.0,0.0,2.0,False,False,False
2,264,1942,1412.647786,1807.257467,-0.971158,59.585143,41.973347,1387,1778,1438,...,2048.0,2.0,1412.647786,1807.257467,2.0,0.0,2.0,False,False,False
3,263,1922,1410.095734,1808.018210,-0.945349,60.985645,40.415117,1386,1779,1435,...,2048.0,2.0,1410.095734,1808.018210,2.0,0.0,2.0,False,False,False
4,273,1934,1415.379007,1804.292658,-0.875196,61.157711,40.564470,1390,1776,1440,...,2048.0,2.0,1415.379007,1804.292658,2.0,0.0,2.0,False,False,False

In [6]:
len(data_df)

223543

In [13]:
# create a structure suitable for tracking

# choose objects 
sel_vector = [(not(x in frames_to_exclude) and (x>500)) for x in data_df.t]

objects_gen = data_df.loc[sel_vector,['label','area','centroid-1','centroid-0','major_axis_length','minor_axis_length','t']]

objects_gen.columns=['ID', 'area', 'x', 'y', 'major_axis_length','minor_axis_length','t']
objects_gen['z']=0
objects_gen['label']=5
objects_gen['prob']=0
objects_gen['dummy']=False
objects_gen['states']=0

objects_gen.head()

,ID,area,x,y,major_axis_length,minor_axis_length,t,z,label,prob,dummy,states
98507,243,1362,1386.253304,1352.237885,47.204792,37.329528,501,0,5,0,False,0
98508,249,1339,1386.081404,1352.047797,46.204068,37.364029,502,0,5,0,False,0
98509,238,1375,1387.516364,1351.329455,46.965567,37.695238,503,0,5,0,False,0
98510,254,1415,1385.920141,1349.419081,48.510212,37.821039,504,0,5,0,False,0
98511,246,1347,1385.446177,1350.434298,46.627305,37.521944,505,0,5,0,False,0

In [14]:
len(objects_gen)

61965

## Tracking proper

In [10]:
# initialise a tracker session using a context manager
with btrack.BayesianTracker() as tracker:

    # configure the tracker using a config file
    tracker.configure_from_file(modelPath)
    
    # approximate
    tracker.update_method = BayesianUpdates.APPROXIMATE
    tracker.max_search_radius = 100

    # append the objects to be tracked
    tracker.append(objects_gen)

    # set the volume (Z axis volume is set very large for 2D data)
    tracker.volume=((0, data_df.size_x[0]), (0, data_df.size_y[0]), (-1e5, 1e5))

    # track them (in interactive mode)
    tracker.track_interactive(step_size=100)

    # generate hypotheses and run the global optimizer
    tracker.optimize()

    # optional: get the data in a format for napari
    data, properties, graph = tracker.to_napari(ndim=2)
    # pickle Napari data
    with open(os.path.join(df_dir,'track.pkl'),'wb') as f:
        pickle.dump([data,properties,graph],f)

[INFO][2021/09/23 10:17:45 PM] Loaded btrack: C:\Users\kmkedz\AppData\Roaming\Python\Python37\site-packages\btrack\libs\libtracker.DLL
[INFO][2021/09/23 10:17:45 PM] btrack (v0.4.2) library imported
[INFO][2021/09/23 10:17:45 PM] Setting max XYZ search radius to: 100
[INFO][2021/09/23 10:17:45 PM] Starting BayesianTracker session
[INFO][2021/09/23 10:17:46 PM] Loading configuration file: Z:\Sonja\210910_endo_meso_52\code\libraries\cell_config.json
[INFO][2021/09/23 10:17:46 PM] Loading motion model: b'cell_motion'
[INFO][2021/09/23 10:17:46 PM] Setting Bayesian update method to: BayesianUpdates.APPROXIMATE
[INFO][2021/09/23 10:17:46 PM] Setting max XYZ search radius to: 100
[INFO][2021/09/23 10:17:46 PM] Objects are of type: <class 'pandas.core.frame.DataFrame'>
[INFO][2021/09/23 10:17:47 PM] Set volume to ((0, 2048.0), (0, 2048.0), (-100000.0, 100000.0))
[INFO][2021/09/23 10:17:47 PM] Starting tracking...
[INFO][2021/09/23 10:17:47 PM] Tracking objects in frames 0 to 99 (of 250)...
[INFO][2021/09/23 10:17:49 PM]  - Timing (Bayesian updates: 7.00ms, Linking: 4.00ms)
[INFO][2021/09/23 10:17:49 PM]  - Probabilities (Link: 0.99960, Lost: 0.99872)
[INFO][2021/09/23 10:17:49 PM]  - Stats (Active: 720, Lost: 46540, Conflicts resolved: 8103)
[INFO][2021/09/23 10:17:49 PM] Tracking objects in frames 100 to 199 (of 250)...
[INFO][2021/09/23 10:17:50 PM]  - Timing (Bayesian updates: 5.00ms, Linking: 4.00ms)
[INFO][2021/09/23 10:17:50 PM]  - Probabilities (Link: 1.00000, Lost: 0.93793)
[INFO][2021/09/23 10:17:50 PM]  - Stats (Active: 504, Lost: 78462, Conflicts resolved: 14620)
[INFO][2021/09/23 10:17:50 PM] Tracking objects in frames 200 to 250 (of 250)...
[INFO][2021/09/23 10:17:50 PM]  - Timing (Bayesian updates: 5.00ms, Linking: 3.00ms)
[INFO][2021/09/23 10:17:50 PM]  - Probabilities (Link: 1.00000, Lost: 0.99429)
[INFO][2021/09/23 10:17:50 PM] SUCCESS.
[INFO][2021/09/23 10:17:50 PM]  - Found 16308 tracks in 250 frames (in 0.0s)
[INFO][2021/09/23 10:17:51 PM]  - Inserted 14552 dummy objects to fill tracking gaps
[INFO][2021/09/23 10:17:51 PM] Loading hypothesis model: cell_hypothesis
[INFO][2021/09/23 10:17:51 PM] Calculating hypotheses (relax: True)...
[INFO][2021/09/23 10:17:51 PM] Setting up constraints matrix for global optimisation...
[INFO][2021/09/23 10:17:55 PM] Optimizing...
[INFO][2021/09/23 10:23:13 PM] Optimization complete. (Solution: optimal)
[INFO][2021/09/23 10:23:13 PM]  - Fates.FALSE_POSITIVE: 3938 (of 16308)
[INFO][2021/09/23 10:23:13 PM]  - Fates.LINK: 8773 (of 12949)
[INFO][2021/09/23 10:23:13 PM]  - Fates.DIVIDE: 419 (of 1452)
[INFO][2021/09/23 10:23:13 PM]  - Fates.INITIALIZE_BORDER: 47 (of 170)
[INFO][2021/09/23 10:23:13 PM]  - Fates.INITIALIZE_FRONT: 469 (of 789)
[INFO][2021/09/23 10:23:13 PM]  - Fates.INITIALIZE_LAZY: 2243 (of 15349)
[INFO][2021/09/23 10:23:13 PM]  - Fates.TERMINATE_BORDER: 55 (of 180)
[INFO][2021/09/23 10:23:13 PM]  - Fates.TERMINATE_BACK: 311 (of 470)
[INFO][2021/09/23 10:23:13 PM]  - Fates.TERMINATE_LAZY: 2812 (of 15658)
[INFO][2021/09/23 10:23:13 PM]  - TOTAL: 63325 hypotheses
[INFO][2021/09/23 10:23:14 PM] Completed optimization with 7535 tracks
[INFO][2021/09/23 10:23:15 PM] Ending BayesianTracker session

## Merging objects and tracking information

In [29]:
trackDataAll = pd.DataFrame(data,columns=['track_id','t','x','y'])
trackDataAll['parent'] = properties['parent']
trackDataAll['generation'] = properties['generation']
trackDataAll['root'] = properties['root']

In [30]:
len(trackDataAll)

869

In [31]:
trackDataAll

     track_id    t            x            y  parent  generation  root
0         1.0  0.0  1207.527638  1111.087102       1           0     1
1         1.0  1.0  1208.290188  1114.509395       1           0     1
2         1.0  2.0  1206.088795  1117.568710       1           0     1
3         1.0  3.0  1202.477083  1119.547917       1           0     1
4         1.0  4.0  1195.853081  1129.362559       1           0     1
..        ...  ...          ...          ...     ...         ...   ...
864     228.0  4.0   517.529158   463.946004     228           0   228
865     229.0  4.0   347.748111  1131.609572     119           1   119
866     230.0  4.0   389.553223  1139.931034     119           1   119
867     231.0  4.0   433.086093   520.114238     231           0   231
868     232.0  4.0   438.336283   452.741150     232           0   232

[869 rows x 7 columns]

In [32]:
allData = pd.merge(left=data_df,right=trackDataAll,left_on=['centroid-0','centroid-1','t'],right_on=['x','y','t'],how='left')

In [33]:
print(f'Number of all objects: {len(allData)}')

Number of all objects: 855

In [34]:
allData.head()

,label,area,centroid-0,centroid-1,orientation,major_axis_length,minor_axis_length,bbox-0,bbox-1,bbox-2,...,mean_intensity-1_ring,mean_intensity-2_ring,size_x,size_y,track_id,x,y,parent,generation,root
0,3,816,22.424020,31.230392,-1.161169,38.170831,27.296608,8,14,38,...,107.263844,498.511401,1946,1946,74.0,22.424020,31.230392,74.0,0.0,74.0
1,4,940,23.018085,637.489362,-0.895162,35.952933,33.524979,6,620,42,...,108.236842,602.133333,1946,1946,87.0,23.018085,637.489362,87.0,0.0,87.0
2,5,1074,25.972998,317.390130,1.050032,41.974158,32.628584,9,298,44,...,109.533824,898.970588,1946,1946,124.0,25.972998,317.390130,124.0,0.0,124.0
3,6,480,34.918750,671.750000,0.588385,31.032800,19.765957,22,660,50,...,110.899061,536.612676,1946,1946,125.0,34.918750,671.750000,125.0,0.0,125.0
4,7,666,37.575075,1267.582583,0.509866,33.703794,25.211162,22,1255,54,...,106.761141,509.074866,1946,1946,126.0,37.575075,1267.582583,126.0,0.0,126.0

## Define promising tracks

In [41]:
allData['accepted'] = False
allData['rejected'] = False
allData['promise'] = False

# mark tracks longer than 100 as promising
tracks_set = set(allData.track_id)

for track in tracks_set:
    
    track_len = np.sum(allData.track_id==track)
    
    if (track_len>1):
        
        allData.loc[allData.track_id==track,'promise'] = True

In [42]:
# save df
allData.to_pickle(os.path.join(df_dir,df_name))
allData.to_csv(os.path.join(df_dir,df_name.replace('pkl','csv')),index=False)